<header>
  <h2>Editing Book</h2>
  <%= form_with model: @book, url:update_book_path(@book.id), method: :patch do |f| %>
 </header>
  
  <table>
    <tr>
      <th>Title</th>
      <th>Budy</th>
    </tr>
    <tr>
      <td><%= f.text_field :title %></td>
      <td><%= f.text_area :body %></td>
  
      <td><%= f.submit 'Update Book' %></td>
  
      <td><%= link_to "Show", book_path(@book.id) %></td>
      <td><%= link_to "Back", "/books" %></td>
  
  </table>
<% end %>