<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="show1">
  <h4>Title:</h4>
  <div><%= @book.title %></div>
</div>

<div class="show2">
  <h4>Body:</h4>
  <div><%= @book.body %></div>
</div>

<div class="link">
  <%= link_to "Edit", book_path(@book.id) %>
  |
  <%= link_to "Back", "/books" %>
</div>